*
  box-sizing border-box
  margin 0px
.form
  width 175px
  max-height 100%
  padding 0 0 20px 0
  overflow-y auto
  vertical-align top
  &__wrapper
    display inline-block
    vertical-align top
    text-align left
  &__lang
    padding 10px 8px 5px 2px
    font-weight normal
    font-size 13px
    label
      margin 0 3px 0 3px
    select
      float right
      margin-top -3px
      padding 2px
      background-color #fff
      border-radius 5px
      cursor pointer
  &__label
    position relative
    display block
    margin 0 0 3px 10px
    font-weight normal
    &__detail
      font-size 13px
      color #666
  &__input
    margin 0 10px 0 0
    text-align right
    &__selector
      display inline-block
      width 70px
      height 24px
      margin 0px 5px 0px 0px
      border 1px solid #999
      cursor pointer
      text-align center
      font-family monospace
    &__wrapper
      margin 12px 0 15px 0
    &__preview
      display inline-block
      border 1px solid #CCC
      width 24px
      height 24px
      vertical-align middle
  &__btn
    display inline-block
    width 40%
    margin 10px 8px 0px 8px
    padding 12px 0px
    background-color #333
    color #FFF
    text-align center
    white-space normal
    &:hover, &:focus
      color #FFF
    &.btnbuild
      background-color #fff
      color #333
      border 1px solid #333
  &__advancedopt
    padding 15px 0 15px 0px
    $btnToggleMarginLeft = 10px
    $btnToggleMarginRight = 10px
    &__toggle
      margin-left $btnToggleMarginLeft
      margin-right $btnToggleMarginRight
      cursor pointer
      color #999
      text-align right
    .advOptLineAnim
      float right
      width "calc(100% - %s)" % ($btnToggleMarginLeft + $btnToggleMarginRight)
      height 2px
      margin 0 10px
      background-color #555
      &-enter
        width 0px
        &-active
          width "calc(100% - %s)" % ($btnToggleMarginLeft + $btnToggleMarginRight)
          transition width 300ms ease-out
      &-leave
        width "calc(100% - %s)" % ($btnToggleMarginLeft + $btnToggleMarginRight)
        &-active
          width 0px
          transition width 200ms ease-in
.colorpicker
  position absolute
  top 0px
  left 175px
  padding 3px 0 0 3px
  background-color #e2e2e2
  z-index 1
  box-shadow rgba(0, 0, 0, 0.2) 10px 10px 8px 0px, rgba(0, 0, 0, 0.188235) 10px 6px 20px 10px
  &Anim
    &-enter
      top -300px
      &-active
        top 0px
        transition: top 300ms ease-in // duration must match transitionEnterTimeout in ColorForm.jsx
    &-leave
      top 0px
      &-active
        top -300px
        transition top 150ms ease-in // duration must match transitionLeaveTimeout in ColorForm.jsx
  &__head
    padding 5px
    background-color #e2e2e2
    text-align right
    font-weight bold
    &__colorname
      float left
      padding 0 0 0 2px
    &__close
      padding 1px 4px
      border 1px solid #aaa
      border-radius 5px
      cursor pointer
      &:hover
        background-color #f1f1f1
$tabHeight = 31px // calculated with padding of .tabhandler__title
.tabhandler
  position relative
  display inline-block
  width calc(100% - 175px)
  height 100%
  &__title
    display inline-block
    padding 3px 25px
    border 1px solid #333
    border-bottom-width 0px
    border-top-left-radius 5px
    border-top-right-radius 5px
    text-align center
    font-weight bold
    vertical-align bottom
    cursor pointer
    &:hover
      background-color #eee
    &.active
      padding 5px 25px
      color #3a3a67
      background-color #ddd
  &__content
    position absolute
    width 100%
    height "calc(100% - %s)" % $tabHeight
.preview, .liveinstance
  width 100%
$tracimHeaderHeight = 50px
.tracim
  width 100%
  &__header
    width 100%
    height $tracimHeaderHeight
    border-bottom 1px solid #eee
    &__logo
      display inline-block
      width 70px
      margin-left 4px
    &__link
      display inline-block
      padding 13px 15px
      color #ddd
      cursor pointer
      &:hover
        background-color #eee
      .fa
        padding 5px
    &__linkright
      @extends .tracim__header__link
      float right
      .fa
        font-size 18px
    &__linkrightform
      @extends .tracim__header__linkright
      padding 7px 10px
      cursor auto
      &:hover
        background-color inherit
      input
        padding 5px
        border-radius 5px
  &__sidebar-left
    display inline-block
    width 25%
    height "calc(100% - %s)" % $tracimHeaderHeight
    border-right 1px solid #BBB
    vertical-align top
    &__btntoggle
      text-align right
      padding 15px
      color #eee
    &__menu
      padding 15px 25px 10px 25px
      &__title
        padding 0 0 10px 0
        color #999
        font-size 18px
      &__item
        padding 3px 0
        color #ddd
        &__submenu
          @extends .tracim__sidebar-left__menu__item
          padding-left 15px
          & > .tracim__sidebar-left__menu__item__iconpicto
            color #cccc00
        &__iconpicto
          margin-right 5px
        &__iconmenu
          margin-right 15px
          transform rotate(-45deg)
          color #ddd
        &.open > .tracim__sidebar-left__menu__item__iconmenu
          margin-right 15px
          transform rotate(-90deg)
          color #ddd
  &__content
    display inline-block
    width 58%
    height "calc(100% - %s)" % $tracimHeaderHeight
    vertical-align top
    border 1px
    &__header
      width 100%
      padding 20px 20px 10px 20px
      border-bottom 1px solid #ccc
      &__title
        font-size 30px
        color #428bca
        border-bottom 4px solid #eee
      &__subtitle
        font-size 14px
        color #999
    &__boostrap__item
      margin 10px 0
      padding 15px
      .btn
        margin 0 5px
      p
        padding 5px
      &__title
        font-size 18px
  &__sidebar-right
    display inline-block
    width 17%
    height "calc(100% - %s)" % $tracimHeaderHeight
    border-left 1px solid #bbb
    padding 20px 20px
    &__btngroup
      &__btn
        width 100%
        padding 6px 12px
        border 1px solid #ccc
        border-top-width 0px
        background-color #fff
        color #333
        font-size 18px
        text-align left
        &:hover
          background-color #e6e6e6
          border-color #adadad
        &:first-child
          border-top 1px solid #ccc
          border-top-left-radius 4px
          border-top-right-radius 4px
        &:last-child
          border-bottom-left-radius 4px
          border-bottom-right-radius 4px
        .fa
          padding 0 10px 0 0
          color #999
          font-size 21px
    &__title
      padding 20px 0px
      font-size 24px
      color #555
      .fa
        padding 0 10px
        font-size 21px
.traciminstance
  width 100%
  height 100%
  border none
.modal-dialog
  margin-top 120px
.dialog__btn__validate
  color #fff
  background-color #333
  border-color #333
  &:hover, &:active, &:active:hover
    @extends .dialog__btn__validate
